[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
url = "http://localhost:8081/simple/"
verify_ssl = false
name = "pypihome"

[dev-packages]
japnlp = {editable = true,path = "."}

[packages]
tinysegmenter = "*"
numpy = "*"
scipy = "*"
matplotlib = "*"
ipython = "*"
jupyter = "*"
pandas = "*"
kytea = "==0.1.4"
metaflow = "==2.0.1"
sklearn = "*"
tensorflow = "==2.1.0"

[requires]
python_version = "3.7"
