[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]


[packages]
tinysegmenter = "*"
numpy = "*"
scipy = "*"
matplotlib = "*"
ipython = "*"
jupyter = "*"
pandas = "*"
kytea = "==0.1.4"
metaflow = "==2.0.1"
sklearn = "*"

[requires]
python_version = "3.7"
