[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
teamcity-messages = "==1.25"
pytest = "==4.6.5"
pytest-cov = "==2.8.1"
pylint = "==2.4.3"
flake8 = "==3.7.8"
flake8-import-order = "==0.18.1"
flake8-blind-except = "==0.1.1"
flake8-builtins = "==1.4.1"
flake8-docstrings = "==1.5.0"
flake8-rst-docstrings = "==0.0.11"
flake8-logging-format = "==0.6.0"
flake8-string-format = "==0.2.3"
flake8-colors = "==0.1.6"
flake8-type-annotations = "==0.1.0"
dajare = {editable = true,path = "."}

[packages]
Flask = "==1.0.2"
flask-restplus = "==0.12.1"
gunicorn = "==19.9.0"
requests = "==2.21.0"
prometheus_client = "==0.6.0"
pykakasi = "==1.2"
tinysegmenter = "*"
numpy = "*"
scipy = "*"
matplotlib = "*"
ipython = "*"
jupyter = "*"
pandas = "*"
sympy = "*"
nose = "*"
kytea = "==0.1.4"
metaflow = "==2.0.1"
sklearn = "*"

[requires]
python_version = "3.7"
